<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" class="container-sidenav">
    Sidenav content
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    Sidenav content
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    Sidenav content
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    Sidenav content
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    Sidenav content
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    Sidenav content
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    Sidenav content
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    Sidenav content
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    Sidenav content
  </mat-sidenav>
  <mat-sidenav-content class="container-sidenav-content">
    <p>
      <button mat-button (click)="aVer(sidenav)">sidenav.toggle()</button>
    </p>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
