<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (open)="checkStatus('sidenavopen')" (opened)="checkStatus('sidenav')" (closed)="checkStatus('sidenav')" style="background-color: burlywood;">
    Sidenav content
    <br>
    Sidenav content
    <br>
    Sidenav content
    <br>
    Sidenav content
    <br>
    Sidenav content
    <br>
    Sidenav content
    <br>
    Sidenav content
    <br>
    Sidenav content
    <br>
    Sidenav content
    <br>
    Sidenav content
    <br>
    Sidenav content
    <br>
    Sidenav content
    <br>
    Sidenav content
    <br>
    Sidenav content
    <br>
    Sidenav content
    <br>
    Sidenav content
    <br>
    Sidenav content
    <br>
    Sidenav content
    <br>
    Sidenav content
    <br>
    Sidenav content
    <br>
  </mat-sidenav>
  <mat-sidenav-content style="background-color: aqua;">
    <p>
      <button mat-button (click)="sidenav.toggle()" (click)="checkStatus()">sidenav.toggle()</button>
    </p>
    Main content
    <br>
    <br>
    <br>
    <br>
    Main content
    <br>
    <br>
    <br>
    <br>
    Main content
    <br>
    <br>
    <br>
    <br>
    Main content
    <br>
    <br>
    <br>
    <br>
    Main content
    <br>
    <br>
    <br>
    <br>
    Main content
    <br>
    <br>
    <br>
    <br>
    Main content
    <br>
    <br>
    <br>
    <br>
    Main content
    <br>
    <br>
    <br>
    <br>
    Main content
    <br>
    <br>
    <br>
    <br>
    Main content
    <br>
    <br>
    <br>
    <br>
  </mat-sidenav-content>
</mat-sidenav-container>
